.login{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
     font-size: 60px;
     font-weight: 800;
     color: #3568f5;
     margin-bottom: 10px;
}

.loginDesc{
    font-size: 30px;
    margin-right: 200px;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #3568f5;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #3568f5;
    cursor: pointer;
}

.loginRegisterButton{
    width: 70%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #00c954;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}